<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="margin: 10px">
        <h1>TODO App</h1>

        <br />
        <br />

        <div class="form-group">
          <label for="exampleInputPassword1">Search Tasks</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchTaskText"
          />
        </div>

        <br />
        <br />
        <h3 style="margin-bottom: 28px">Tasks</h3>
        <table class="table">
          <tr>
            <th>Task</th>
            <th>Is Completed</th>
            <th></th>
            <th></th>
          </tr>
          <ng-container
            *ngIf="tasks | searchfilter: searchTaskText as filteredTasks"
          >
            <tr *ngFor="let task of filteredTasks">
              <td>{{ task?.name }}</td>
              <td>{{ task?.isCompleted ? "Yes" : "No" }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteTask(task.id)">
                  Delete
                </button>
              </td>
              <td>
                <button
                  class="btn btn-primary"
                  (click)="editButtonCLicked(task.id)"
                >
                  Edit
                </button>
              </td>
            </tr>
            <tr *ngIf="filteredTasks?.length == 0">
              <td colspan="5" style="text-align: center">No Task Found</td>
            </tr>
          </ng-container>
        </table>

        <button class="btn btn-primary" (click)="addTaskButtonClicked()">
          Add Task
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="addTaskModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <form [formGroup]="addTaskFG" (ngSubmit)="addTask()">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="addTask">Task</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      id="addTask"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="addTaskFG?.invalid"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="editTaskModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
          #editTaskModal
        >
          <form
            [formGroup]="editTaskFG"
            (ngSubmit)="editTask(editTaskModal?.getAttribute('data-id'))"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Task</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                  </div>

                  <div class="form-group form-check">
                    <input
                      type="checkbox"
                      formControlName="isCompleted"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Is Completed?</label
                    >
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    [disabled]="editTaskFG?.invalid"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <br />
        <div style="margin-top: 20px">
          Made by Navjot Singh (navjotsingh9633@gmail.com)
        </div>
      </div>
    </div>
  </div>
</div>
